@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #1f2124; 
  background: -webkit-linear-gradient(to bottom, #616161, #9bc5c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #616161, #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.window {
  margin: 4em;
  width: 800px;
  height: 600px;
  overflow: hidden;
 background-color: #1f2124;
  display: flex;
  flex-direction: column;

  box-shadow: 0 .8em 1.5em rgba(51, 51, 51, .6),
    0 .5em 2em rgba(51, 51, 51, .6);
  border-radius: .5em;}

  .window .bar {
    padding: .5em;
    flex: 0 0 auto;
    display: flex;
    background: linear-gradient(to bottom, #eaeaea, #d2d2d2);
    border-bottom: 1px solid #7d7d7d;
    color: #4c4c4c;}

    .bar .title {
      margin: 0;
      display: inline-block;
      flex: 1 1 auto;
      line-height: 1;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
    }

    .buttons {
      display: inline-block;
      flex: 0 0 auto;}

        .button {
        margin: 0 .5em 0 0;
        height: 1em;
        width: 1em;
        display: inline-block;
        float: left;
        border-radius: 50%;
        box-shadow: inset 0 0 .3em rgba(51, 51, 51, .4);}

        .button:nth-child(1) {
          position: relative;
          background: #fe6058;}

          .button:after {
           
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #4c0000;
            content: '';
          }
        
        .button:nth-child(2) {
          background: #fdbd34;
        }
        
        .button:nth-child(3) {
          background: #23c944;
        }
      

  #terminal {
    padding: .4em;
    max-height: 100%;
    overflow-y: auto;
    flex: 1 1 auto;
    background: #1f2124;}
    
    #terminal p {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 10%;
      display: block;
      font-family: 'Open Sans', sans-serif;
      outline: none;
      border: none;
      background: transparent;
      color: whitesmoke ;}
      
    
  


::-webkit-scrollbar {
  width: .3em;
}
 
::-webkit-scrollbar-thumb {
  border-radius: .3em;
  background: #eaeaea;
  -webkit-box-shadow: inset 0 0 .1em rgba(0, 0, 0, 0.5); 
}